h2.awards-tab__title
  | 2012 год категория 10-11 лет:

h3
  | Чемпионат России по традиционному каратэ-до Фудокан . Москва 25-26 февраля 2012 года.
p
  | <span class="highlight">1 место</span> - Ката личное (группа Б); 1 место - Кихон кумитэ;  1 место - Кихон иппон кумитэ; 3 место - Дзию иппон кумитэ; 2 место - Энбу М/М; 2 место - Командное кумитэ.
h3
  | Открытый Чемпионат Швеции по каратэ WKF. Мальмо 25 марта 2012 года
p
  | <span class="highlight">2 место</span> - Ката Личное.
h3
  | 5-й Международный турнир среди городов Героев. Люберцы 01.04.2012 года
p
  | <span class="highlight">2 место</span> - Ката Личное.
h3
  | Традиционный Всероссийский Турнир по Фудокан каратэ-до. В его рамках Первенство и Чемпионат "Федерации Фудокан России" по командным разделам. Республика Татарстан, г. Набережные Челны 7-8 апреля 2012
p
  | <span class="highlight">1 место</span> - Ката личное; 1 место - Кихон Кумитэ; 2 место - Дзию Иппон Кумитэ; 2  место - Командное Дзию Иппон Кумитэ (2004-1999 г);  1 место - Командное Ката (1997-1998 г); 3 место - Энбу M/M  (1997-1998 г)
h3
  | 7-ой Кубок Москвы по каратэ WKF. 5.05.2012 года
p
  | <span class="highlight">1 место</span> - Ката личное
h3
  | Чемпионат Европы по Фудокан-Шотокан каратэ. Польша Спала 25-27 мая 2012.
p
  | <span class="highlight">1 место</span> - Ката личное; 1 место Кихон кумитэ, 2 место Энбу М/М.
h3
  | Первенство Москвы по каратэ WKF  16.09.2012
p
  | <span class="highlight">3 место</span> - Кумитэ

h3
  | Кубок Альфа Будо WKF 20.10.2012
p
  | <span class="highlight">2 место</span> - Кумитэ.


