extends template/main

block variables
  - var title = 'О мне'
  - var pageClass = 'about-page'

block content
  .container-fluid
    h1.section-title О мне
    .row
      .col-lg-5
        .about__thumbnail
          img(src="static/images/content/about/img-1.jpg", alt="")
      .col-lg-7
        .about__text
          p
            | КМС. Черный пояс 1 Дан
            br
            | спортсмен, стаж с 01.10.04
            br
            | Комманды : Терский Роман,
            br
            | Стили : Традиционное каратэ , Фудокан , WKF,
            br
            | Начало занятий тренировок :
            br
            | С 10 сентября 2004 года по 5 сентября 2007 года : Стиль Сэнэ - рукопашный бой.

          p В сентябре 2008 года стиль Фудокан каратэ-до.

          p С декабря 2011 года - каратэ WKF.

          p
            | Двукратный чемпион Мира по традиционному каратэ-до Фудокан-Шотокан; Четырехкратный чемпион Европы  по традиционному каратэ-до Фудокан- Шотокан; Трехкратный чемпион России по традиционному каратэ-до Фудокан- Шотокан;  Девятикратный чемпион Москвы по ката, каратэ WKF. Чемпион и призер Всероссийских соревнований по ката каратэ WKF.

