extends template/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'index-page page-fill-height'

block content
  .container-fluid.hero__wrapper
    .hero
      h1.hero__title  Терский Роман
      p.hero__subtitle Традиционное каратэ, Фудокан, WKF 
