<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    ul(
      style="line-height: 2;"
    )
      li
        a(href="index.html") index
      li
        a(href="news.html") news
      li
        a(href="post.html") post
      li
        a(href="gallery.html") gallery
      li
        a(href="awards.html") awards
      li
        a(href="about.html") about
      li
        a(href="contact.html") contact