extends template/main

block variables
  - var title = 'Новости'
  - var pageClass = 'post-page'

block content
  .container-fluid
    .breadcrumbs
      .breadcrumbs__item
        a.breadcrumbs__title(href='news.html') Новости
      span.breadcrumbs__divider \
      .breadcrumbs__item.breadcrumbs__item--active
        span.breadcrumbs__title Итоги опроса
    
    .post__content
      .post__heading
        h1.post__title ИТОГИ ОПРОСА: Фанаты верят в спортсменов, но не верят в руководство ФКР
        .post__meta
          span.post__date 13.07.2019
      .row
        .col-lg-6.col-sm-12
          .post__thumbnail
            img(src="static/images/content/news/img-1.jpg", alt="")

        .col-lg-6.col-sm-12
          .post__text
            p
              |Несколько дней назад в послесловии к Европейским играм 2019 мы размышляли о перспективах и реалиях российского каратэ. Там же был предложен опрос, в котором фанаты и специалисты могли высказать свое мнение на важную тему - вместе мы пытались узнать, смогут ли россияне отобраться на Олимпийские игры в Токио 2020 по рейтингу.

            p 
              | Сегодня подводим итоги опроса!

            p
              | Судя по ответам наших читателей, сообщество российского каратэ не верит в качество работы руководства ФКР. Лишь 6% голосов отдано за вариант "россияне смогут отобраться на Олимпиаду благодаря стараниям руководства ФКР (WKF)". При этом одним из самых популярных ответов был тезис "виновата недальновидность руководства Федерации" (29,18%).

            p
              | Но можно порадоваться, что фанаты, несмотря ни на что, уверены в силе российских спорстменов. Верим в них вместе - ведь самый популярный вариант ответа в нашем опросе "Смогут. В России очень сильные спортсмены" (34,76%)!

            p
              | Помимо этого, читатели выражали надежду в удачу - вариант "нам повезет" стал третьим по популярности в нашем опросе (17,17%).