.gallery-tab.gallery-tab--videos.tab.tab-2
  .row
    .col-md-6.col-lg-4
      .gallery__video.gallery-video
        .gallery-video__media
          <iframe width="845" height="481" src="https://www.youtube.com/embed/HbNfkjahEbo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          button.gallery-video__play

        h3.gallery-video__title
          | 05.11.2010 Чемпионат Европы по Фудокан каратэ-до 2010 Кипр Ката - Хеан Го-Дан. Терский Роман
    .col-md-6.col-lg-4
      .gallery__video.gallery-video
        .gallery-video__media
          <iframe width="802" height="481" src="https://www.youtube.com/embed/Q4txn2FYuf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          button.gallery-video__play

        h3.gallery-video__title
          | 05.11.2010 Чемпионат Европы по Фудокан каратэ-до 2010
    .col-md-6.col-lg-4
      .gallery__video.gallery-video
        .gallery-video__media
          <iframe width="649" height="481" src="https://www.youtube.com/embed/d-dK2cVCuHI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          button.gallery-video__play

        h3.gallery-video__title
          | 05.11.2010 Чемпионат Европы по Фудокан
    .col-md-6.col-lg-4
      .gallery__video.gallery-video
        .gallery-video__media
          <iframe width="845" height="481" src="https://www.youtube.com/embed/HbNfkjahEbo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          button.gallery-video__play

        h3.gallery-video__title
          | 05.11.2010 Чемпионат Европы по Фудокан каратэ-до 2010 Кипр Ката - Хеан Го-Дан. Терский Роман
    .col-md-6.col-lg-4
      .gallery__video.gallery-video
        .gallery-video__media
          <iframe width="649" height="481" src="https://www.youtube.com/embed/d-dK2cVCuHI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          button.gallery-video__play

        h3.gallery-video__title
          | 05.11.2010 Чемпионат Европы по Фудокан каратэ-до 2010 Кипр Ката
    .col-md-6.col-lg-4
      .gallery__video.gallery-video
        .gallery-video__media
          <iframe width="845" height="481" src="https://www.youtube.com/embed/HbNfkjahEbo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          button.gallery-video__play

        h3.gallery-video__title
          | 05.11.2010 Чемпионат Европы по Фудокан каратэ-до 2010 Кипр Ката - Хеан Го-Дан. Терский Роман