.gallery-tab.tab.tab-2
  .row
    .col-lg-4
      .gallery__video.gallery-video
        .gallery-video__media

        h3.gallery-video__title
          | 05.11.2010 Чемпионат Европы по Фудокан каратэ-до 2010 Кипр Ката - Хеан Го-Дан. Терский Роман