.gallery-tab.tab.tab-1.is-active
  .row
    .col-sm-12
      .gallery__img
        img(src="static/images/content/gallery/img-1.jpg", alt="")
    .col-sm-12
      .gallery__img
        img(src="static/images/content/gallery/img-2.jpg", alt="")
    .col-sm-12
      .gallery__img
        img(src="static/images/content/gallery/img-3.jpg", alt="")
    .col-sm-12
      .gallery__img
        img(src="static/images/content/gallery/img-4.jpg", alt="")
    .col-sm-12
      .gallery__img
        img(src="static/images/content/gallery/img-5.jpg", alt="")
    .col-sm-12
      .gallery__img
        img(src="static/images/content/gallery/img-6.jpg", alt="")