/*------------------------------------*\
  #ABOUT
\*------------------------------------*/

.about {

  &__thumbnail {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    
    @media (max-width: 992px) {
      margin-bottom: 30px;
    }

    @media (min-width: 992px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__text {
    max-width: 950px;
    font-size: rem(16);

    @media (min-width: 992px) {
      font-size: rem(24);
    }

    & > * {
      margin-bottom: 20px;

      @media (min-width: 992px) {
        margin-bottom: 30px;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      font-size: rem(20);

      @media (min-width: 992px) {
        font-size: rem(30);
      }
    }
  }
}