/*------------------------------------*\
  #GALLERY-TABS
\*------------------------------------*/

.gallery-heading {

  @media (min-width: 576px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.gallery-tabs__nav {
  margin-left: auto;

  @media (max-width: 575.98px) {
    text-align: center;
    margin-bottom: 10px;
  }

  &-item {
    display: inline-block;
    margin-right: 34px;
    padding: 12px 0;
    border: 0;
    font-family: $secondFont;
    font-size: rem(24);
    color: #9b9b9b;
    background-color: transparent;
    cursor: pointer;

    @media (max-width: 575.98px) {
      padding-top: 0;
    }

    &:focus {
      outline: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      color: #000;
    }
  }
}

.gallery-tab {

  &--images {

    & > .row {
      margin-left: -2px;
      margin-right: -2px;
  
      @media (min-width: 768px) {
        margin-left: -8px;
        margin-right: -8px;
      }
    }

    [class*=col] {
      padding-left: 2px;
      padding-right: 2px;
      margin-bottom: 4px;
  
      @media (min-width: 768px) {
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 16px;
      }
    }
  }

  &--videos {

    & > .row {

      @media (min-width: 768px) {
        margin-left: -8px;
        margin-right: -8px;
      }
    }

    [class*=col] {
  
      @media (min-width: 768px) {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}

.gallery__img {
  position: relative;
  height: 100%;


  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.gallery-video {
  margin-bottom: 44px;

  @media (min-width: 1200px) {
    margin-bottom: 60px;
  }

  &__media {
    position: relative;
    width: 100%;
    height: 0%;
    padding-top: 54.8387%;
    margin-bottom: 12px;

    @media (min-width: 992px) {
      margin-bottom: 20px;
    }

    > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    iframe {
      display: none;
    }
  }

  &__play {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border: 0;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;
      background-image: url(../images/icons/spritesheet.png);
      background-repeat: no-repeat;
      background-size: 128px 86px;
      background-position: -1px -26px;
      z-index: 10;
    }
  }

  &__title {
    margin: 0;
    font-family: $secondFont;
    font-weight: normal;
    font-size: rem(16);
    line-height: 1.15;

    @media (min-width: 992px) {
      font-size: rem(20);
    }

    @media (min-width: 1200px) {
      font-size: rem(24);
    }
  }
}