/*------------------------------------*\
  #POST
\*------------------------------------*/

.post {
  
  &__heading {
    margin-bottom: 10px;
  }

  &__title {
    max-width: 940px;
    margin-bottom: 16px;
    font-family: $secondFont;
    font-weight: bold;
    font-size: rem(18);
    line-height: 1.15;

    @media (min-width: 576px) {
      font-size: rem(24);
    }
    @media (min-width: 768px) {
      font-size: rem(32);
    }
    @media (min-width: 992px) {
      font-size: rem(40);
    }
  }

  &__meta {
    font-weight: bold;
  }

  &__thumbnail {
    margin-bottom: 20px;

    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }

}

.post__text {

  & > * {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}