/*------------------------------------*\
  #ICONS
\*------------------------------------*/

.icon {
  display: block;
  background-image: url(../images/icons/spritesheet.png);
  background-repeat: no-repeat;
  background-size: 128px 86.3333334px;
}

.icon-arrow-left {
  width: 36px;
  height: 24px;
  background-position: -1px -1px;
}

.icon-arrow-right {
  width: 24px;
  height: 17px;
  background-position: -38.3333px -1px;
}

.icon-chevron-down {
  width: 26px;
  height: 16px;
  background-position: -64.3333px -1px;
}

.icon-play-button {
  width: 60px;
  height: 60px;
  background-position: -1px -26.66667px;
}

.icon-telegram {
  width: 32px;
  height: 32px;
  background-position: -62px -18px;
}

.icon-vk {
  width: 32px;
  height: 32px;
  background-position: -62px -52px;
}

.icon-whatsapp {
  width: 32px;
  height: 32px;
  background-position: -95px -1px;
}