/*------------------------------------*\
  #MENU
\*------------------------------------*/

.menu {

  &__link {
    transition: color 0.25s ease-out, opacity 0.25s ease-out;

    &.is-current {
      font-weight: bold;
      color: $highlight !important;
    }
  }

  &--header {
    display: none;

    @media (min-width: 992px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .menu__link {
      margin-right: 34px;
      font-size: rem(18);

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $highlight;
      }

      &:focus {
        opacity: 0.65;
        outline: 0;
      }

      @media (min-width: 1200px) {
        font-size: rem(24);
      }
    }
  }

  &--mobile {
    
    .menu__link {
      display: block;
      font-size: rem(18);
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    
  }
}

.mobile-nav {
  display: none;
  z-index: -999;

  &__overlay,
  &__content {
    position: absolute;
    top: 0;
    top: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 60px); /* 60px - header height */
  }

  &__overlay {
    background: rgba(0,0,0,0.65);
    transition: 0.2s ease-in-out;
    opacity: 0;
    z-index: 999;
  }

  &__content {
    max-width: 320px;
    overflow-y: auto;
    padding: 60px 20px 30px 30px;
    background: #fff;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.35s ease-in-out;
    z-index: 1000;
  }
}

.mobile-nav.is-active {
  display: block;
  z-index: 999;
  

  .mobile-nav__overlay {
    opacity: 1;
    transition: 0.35s ease-in-out;
  }

  .mobile-nav__content {
    animation: mslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
    transition: 0.3s ease-in-out;
  }
}

@keyframes mslideIn {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}