/*------------------------------------*\
  #SOCIALS
\*------------------------------------*/

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.socials__item {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../images/icons/spritesheet.png);
  background-repeat: no-repeat;
  background-size: 128px 86.3333334px;
  transition: opacity 0.25s;

  &--vk {
    background-position: -62px -52px;
  }

  &--whatsapp {
    background-position: -95px -1px;
  }

  &--telegram {
    background-position: -62px -18px;
  }

  &:hover {
    opacity: 0.8;
  }
}