/*------------------------------------*\
  #TITLES
\*------------------------------------*/

.section-title {
  font-family: $secondFont;
  font-weight: bold;
  font-size: rem(24);
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    font-size: rem(40);
    margin-bottom: 40px;
  }

  .contact-page & {

    @media (min-width: 768px) {
      margin-bottom: 70px;
    }
  }
}