footer.footer
  .container-fluid
    .footer__content
      span.footer__contact E-mail:
        |
        |
        a.footer__contact-link(href="mailto:mail@mail.com") mail@mail.com

      span.footer__date 2019